body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    font-family: 'Roboto';
}

.display-6 {
    font-family: 'Roboto slab' !important;
    font-weight: 200;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.titletext {
    font-family: 'Roboto slab' !important;
}

#content {
    min-height: 70vh;
}

#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#FFF;
    z-index:99999;
}

#status {
    width:100px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url("/file/loader.gif");
    z-index:9999;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    margin:-50px 0 0 -50px;
}